label.radio-inline,
label.checkbox-inline,
label.radio,
label.checkbox { 
	margin-right:2%;
	cursor:pointer;
	font-weight:400;
	padding:10px 10px 10px 30px;
	background-color:#dcdfd4;
	margin-bottom:10px!important
	} 

label.radio-inline.checked,
label.checkbox-inline.checked,
label.radio.checked,
label.checkbox.checked {
	background-color:#266c8e;
	color:#fff!important;
	text-shadow:#000 1px 1px 2px!important }